header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 0.1rem .3rem rgba(0,0,0,.3);
    width: 100%;
}

header #menu{
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    margin: 1rem;
    display: none;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}

header .navbar ul li{
    margin: 0 1.5rem;
}

header .navbar ul li a{
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
}

header .navbar{
    background: #ff6f61;
    justify-content: center;
}

header .navbar ul li a:hover{
    color: #444;
}


@media (max-width:768px) {

    html{
        font-size: 55%;
    }

}

@media (max-width:500px) {

    html{
        font-size: 50%;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top: 6.2rem;
        right: -120%;
        height: 100%;
        width: 100%;
        border-top: .2rem solid rgba(0,0,0,.3);
    }

    header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
        background: #fff;
        padding-bottom: 15rem;
    }

    header .navbar ul li{
        text-align: center;
        width: 100%;
        margin: 1rem 0;
    }

    header .navbar ul li a{
        font-size: 4rem;
        color: #333;
        display: block;
    }

    header .navbar ul li a:hover{
        color: var(--myColor);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        right: 0;
    }
}