<section class="about">
      

  <div class="image">
    <img src="assets/images/aboutPage.svg" alt="about page image"/>
  </div>

  <div class="content">
    <h1>a word about us</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam adipisci labore perspiciatis voluptates amet? Doloribus quia id similique rerum praesentium, asperiores itaque, earum vitae commodi voluptatem perferendis, saepe expedita hic!</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
      voluptates quas, odit, culpa explicabo quibusdam perferendis rerum sit
      soluta fuga nostrum! Quas voluptas quaerat nam aspernatur quisquam
      repellendus totam accusantium?
    </p>
    <a href="plan"><button class="btn">learn more</button></a>
  </div>

</section>
