<section class="plan">

  <div class="box-container">

    <div class="box">
      <h3 class="title">basic</h3>
      <div class="price">
        <h1>$10<span>/mo</span></h1>
      </div>
      <ul>
        <li>10 GB Space</li>
        <li>10 Email Acocounts</li>
        <li>Maintenance</li>
        <li>5 Subdomains</li>
      </ul>
      <a href="#"><button class="btn">check out</button></a>
    </div>

    <div class="box">
      <h3 class="title">standard</h3>
      <div class="price">
        <h1>$20<span>/mo</span></h1>
      </div>
      <ul>
        <li>20 GB Space</li>
        <li>20 Email Acocounts</li>
        <li>Maintenance</li>
        <li>15 Subdomains</li>
      </ul>
      <a href="#"><button class="btn">check out</button></a>
    </div>

    <div class="box">
      <h3 class="title">premium</h3>
      <div class="price">
        <h1>$30<span>/mo</span></h1>
      </div>
      <ul>
        <li>40 GB Space</li>
        <li>30 Email Acocounts</li>
        <li>Maintenance</li>
        <li>25 Subdomains</li>
      </ul>
      <a href="#"><button class="btn">check out</button></a>
    </div>

  </div>

</section>
